<nav class="menu">
  <img
    src="../../assets/totoro.svg"
    alt="Logo Studio Ghibli"
    height="80"
    width="150"
  />
  <ul class="list__menu">
    <li class="list__item">Home</li>
    <li class="list__item">News</li>
    <li class="list__item">Story</li>
    <li class="list__item">Characteres</li>
    <li class="list__item">Events</li>
  </ul>
</nav>

<section class="section__content">
  <div>
    <header class="header__title">Spirited Away</header>
    <p class="p__content">
      Ten-year-old Chihiro Ogino and her parents are traveling to their new home
      when her father takes a shortcut. They enter what appears to be abandoned
      amusement park that Chihiro's father insists on exploring.
    </p>
    <button class="button__content">Watch Movie</button>
  </div>
  <img src="../../assets/haku.png" alt="Chihiro" height="650" width="400" />
</section>
